## Laboratorio 3 - Clasificación

## Paula Hípola Gómez, José Ignacio Navas Sanz y Belén Ortega Pérez

## Entregable 1 - Clasificador de Flores

In [39]:
%config IPCompleter.greedy=True
%reset
#Importamos las librerías necesarias
#Numpy
import numpy as np 
#Pandas
import pandas as pd
#Scikit-Learn
import sklearn as sk
#Matplotlib
import matplotlib.pyplot as plt

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

## Carga y Visualización de Datos

In [40]:
#Importamos el CSV
dataset = pd.read_csv('iris.csv')

#Mostramos los datos
dataset

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

### 1) Haz todo el preprocesamiento para crear un set de entrenamiento y otro de validación que permitan crear un clasificador atendiendo sólo a las características necesarias. Explica qué has hecho y porqué. (0,5 puntos)

Necesitamos separar unas instancias de entrenamiento y otras instancias para validación. La división típica suele ser un 80-20 si bien podemos intentar apurar hasta un 75-25 o incluso 70-30 siendo el número más grande el que representa el procentaje del conjunto de entrenamiento. El problema de definir muchos datos para entrenar y pocos para validar se denomina como "overfitting" y nos puede producir un sobreajuste de las instancias del set de validación. Esto no siempre es interesante ya que no estaríamos obteniendo un modelo realista. El ajuste contrario se denomina "underfitting", y del mismo modo que el "overfitting" no produce un modelo fiable al ser menos preciso que la realidad. Necesitamos además separar la clase objetivo, que en este caso será la "Especie"

In [41]:
#Obteniendo la clase
target = dataset.iloc[:,5:6]
target

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [42]:
#Dataset sin la clase
datasetSinClase = dataset.iloc[:, 0:5] 
datasetSinClase

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [43]:
dataTrain = datasetSinClase[0:120]
dataTest = datasetSinClase[121:150]

In [44]:
dataTrain

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
115  116            6.4           3.2            5.3           2.3
116  117            6.5           3.0            5.5           1.8
117  118            7.7           3.8            6.7           2.2
118  119            7.7           2.6            6.9           2.3
119  120            6.0           2.2            5.0           1.5

[120 rows x 5 columns]

In [45]:
dataTest

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
121  122            5.6           2.8            4.9           2.0
122  123            7.7           2.8            6.7           2.0
123  124            6.3           2.7            4.9           1.8
124  125            6.7           3.3            5.7           2.1
125  126            7.2           3.2            6.0           1.8
126  127            6.2           2.8            4.8           1.8
127  128            6.1           3.0            4.9           1.8
128  129            6.4           2.8            5.6           2.1
129  130            7.2           3.0            5.8           1.6
130  131            7.4           2.8            6.1           1.9
131  132            7.9           3.8            6.4           2.0
132  133            6.4           2.8            5.6           2.2
133  134            6.3           2.8            5.1           1.5
134  135            6.1           2.6            5.6           1.4
135  136            7.7           3.0            6.1           2.3
136  137            6.3           3.4            5.6           2.4
137  138            6.4           3.1            5.5           1.8
138  139            6.0           3.0            4.8           1.8
139  140            6.9           3.1            5.4           2.1
140  141            6.7           3.1            5.6           2.4
141  142            6.9           3.1            5.1           2.3
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

### 2) Prueba con distintas configuraciones de las dos métricas principales. La primera métrica corresponde al número de individuos que usarás para clasificar una nueva instancia y la segunda cómo vas a medir la cercanía de esa nueva instancia con el resto. ¿Qué decisiones has tomado? ¿Por qué? (1 punto)

### 3) Elige la mejor configuración entre las anteriores. Para ello crea una tabla para ver cómo evoluciona la clasificación. Dibuja los resultados que se obtienen con ambas configuraciones elegidas como las mejores. (1 punto)

### 4) Utiliza el clasificador para saber qué ocurre con los audios de un dataset que se llame “iris2clasif.csv “que obtendremos del dataset proporcionado. (0,5 puntos)