## Laboratorio 3 - Clasificación

## Paula Hípola Gómez, José Ignacio Navas Sanz y Belén Ortega Pérez

## Entregable 2 - Clasificador de Género

In [1]:
%config IPCompleter.greedy=True
%reset
#Importamos las librerías necesarias
#Numpy
import numpy as np 
#Pandas
import pandas as pd
#Scikit-Learn
import sklearn as sk
#Matplotlib
import matplotlib.pyplot as plt

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

## Carga y Visualización de Datos

In [2]:
#Importamos el CSV
dataset = pd.read_csv('genero.csv')
#Guardamos una copia del dataset original
datasetOriginal = dataset
#Mostramos los datos
dataset

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F
...,...,...,...,...,...
61,Cool,Rock,Vodka,Coca Cola/Pepsi,M
62,Cool,Hip hop,Beer,Coca Cola/Pepsi,M
63,Neutral,Hip hop,Doesn't drink,Fanta,M
64,Cool,Rock,Wine,Coca Cola/Pepsi,M
65,Cool,Electronic,Beer,Coca Cola/Pepsi,M

In [3]:
dataset.describe()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
count,66,66,66,66,66
unique,3,7,6,4,2
top,Cool,Rock,Doesn't drink,Coca Cola/Pepsi,M
freq,37,19,14,32,33

<b>Vamos a realizar un clasificador basado en reglas. En nuestro caso elegimos el algoritmo PRISM</b>

### 1) Crea un clasificador en el que uses al menos dos criterios de división distintos. Calcula el error de cada uno de ellos y elige el que mejor clasifique (1 punto).

In [4]:
clase = dataset.groupby("Gender").size()
pd.DataFrame(clase)

         0
Gender
F       33
M       33

Tenemos que seleccionar una clase sobre la que fijar nuestras reglas, por lo que vamos a elegir Female (F).

In [5]:
dataset = dataset[dataset.Gender != 'M']
dataset

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F
5,Warm,Jazz/Blues,Doesn't drink,Fanta,F
6,Cool,Pop,Beer,Coca Cola/Pepsi,F
7,Warm,Pop,Whiskey,Fanta,F
8,Warm,Rock,Other,7UP/Sprite,F
9,Neutral,Pop,Wine,Coca Cola/Pepsi,F
10,Cool,Pop,Other,7UP/Sprite,F
11,Warm,Pop,Other,7UP/Sprite,F
12,Warm,Pop,Wine,7UP/Sprite,F
13,Warm,Electronic,Wine,Coca Cola/Pepsi,F
14,Cool,Rock,Beer,Coca Cola/Pepsi,F
15,Warm,Jazz/Blues,Wine,Coca Cola/Pepsi,F
16,Cool,Pop,Wine,7UP/Sprite,F
17,Cool,Rock,Other,Coca Cola/Pepsi,F
18,Cool,Rock,Other,Coca Cola/Pepsi,F
19,Cool,Pop,Doesn't drink,7UP/Sprite,F
20,Cool,Pop,Beer,Fanta,F
21,Warm,Jazz/Blues,Whiskey,Fanta,F
22,Cool,Rock,Vodka,Coca Cola/Pepsi,F
23,Warm,Pop,Other,Coca Cola/Pepsi,F
24,Cool,Folk/Traditional,Whiskey,7UP/Sprite,F
25,Warm,R&B and soul,Whiskey,Coca Cola/Pepsi,F
26,Cool,Pop,Beer,Other,F
27,Cool,Pop,Doesn't drink,Other,F
28,Cool,Pop,Doesn't drink,Coca Cola/Pepsi,F
29,Cool,Electronic,Doesn't drink,Fanta,F
30,Warm,Rock,Other,Coca Cola/Pepsi,F
31,Neutral,Rock,Beer,Coca Cola/Pepsi,F
32,Cool,R&B and soul,Beer,Coca Cola/Pepsi,F

In [6]:
#Actualizamos la clase
clase = dataset.groupby("Gender").size()
clase

Gender
F    33
dtype: int64

In [7]:
colores = dataset['Favorite Color'].value_counts()
generos = dataset['Favorite Music Genre'].value_counts()
bebidas = dataset['Favorite Beverage'].value_counts()
refrescos = dataset['Favorite Soft Drink'].value_counts()

In [8]:
#Precision del color
colorPrecisionStr = []
colorPrecision = []
for row in colores:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    colorPrecisionStr.append(precisionStr)
    colorPrecision.append(precision)
    
#Precision para el color
coloresDF = pd.DataFrame(colores)
coloresDF.insert(1, "Precision", colorPrecisionStr, True)
coloresDF.insert(2, "Valor Precision", colorPrecision, True)  
coloresDF

         Favorite Color Precision  Valor Precision
Cool                 17     17/33             0.52
Warm                 13     13/33             0.39
Neutral               3      3/33             0.09

In [9]:
#Precision del género musical
musicGenrePrecisionStr = []
musicGenrePrecision = []
for row in generos:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    musicGenrePrecisionStr.append(precisionStr)
    musicGenrePrecision.append(precision)

#Precision para el genero
generosDF = pd.DataFrame(generos)
generosDF.insert(1, "Precision", musicGenrePrecisionStr, True)
generosDF.insert(2, "Valor Precision", musicGenrePrecision, True) 
generosDF

                  Favorite Music Genre Precision  Valor Precision
Pop                                 13     13/33             0.39
Rock                                10     10/33             0.30
Jazz/Blues                           3      3/33             0.09
Folk/Traditional                     2      2/33             0.06
R&B and soul                         2      2/33             0.06
Electronic                           2      2/33             0.06
Hip hop                              1      1/33             0.03

In [10]:
#Precision de los espirituosos
beveragePrecisionStr = []
beveragePrecision = []
for row in bebidas:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    beveragePrecisionStr.append(precisionStr)
    beveragePrecision.append(precision)
    
#Precision para las bebidas alcoholicas
bebidasDF = pd.DataFrame(bebidas)
bebidasDF.insert(1, "Precision", beveragePrecisionStr, True)
bebidasDF.insert(2, "Valor Precision", beveragePrecision, True) 
bebidasDF

               Favorite Beverage Precision  Valor Precision
Other                          7      7/33             0.21
Wine                           6      6/33             0.18
Beer                           6      6/33             0.18
Doesn't drink                  5      5/33             0.15
Whiskey                        5      5/33             0.15
Vodka                          4      4/33             0.12

In [11]:
#Precision de los refrescos
softDrinkPrecisionStr = []
softDrinkPrecision = []
for row in refrescos:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    softDrinkPrecisionStr.append(precisionStr)
    softDrinkPrecision.append(precision)
    
#Precision para los refrescos
refrescosDF = pd.DataFrame(refrescos)
refrescosDF.insert(1, "Precision", softDrinkPrecisionStr, True)
refrescosDF.insert(2, "Valor Precision", softDrinkPrecision, True) 
refrescosDF

                 Favorite Soft Drink Precision  Valor Precision
Coca Cola/Pepsi                   17     17/33             0.52
7UP/Sprite                         8      8/33             0.24
Fanta                              6      6/33             0.18
Other                              2      2/33             0.06

In [12]:
datos = [coloresDF['Valor Precision'].idxmax(),
         generosDF['Valor Precision'].idxmax(),
         bebidasDF['Valor Precision'].idxmax(),
         refrescosDF['Valor Precision'].idxmax()]

valores = [coloresDF['Valor Precision'].max(),
           generosDF['Valor Precision'].max(),
           bebidasDF['Valor Precision'].max(),
           refrescosDF['Valor Precision'].max()]

print('El color que más aparece es\033[1m',datos[0],'\033[0mcon una precisión de\033[1m',valores[0],'\033[0m')
print('El género musical que más aparece es\033[1m',datos[1],'\033[0mcon una precisión de\033[1m',valores[1],'\033[0m')
print('La bebida alcohólica que más aparece es\033[1m',datos[2],'\033[0mcon una precisión de\033[1m',valores[2],'\033[0m')
print('El refresco que más aparece es\033[1m',datos[3],'\033[0mcon una precisión de\033[1m',valores[3],'\033[0m')

El color que más aparece es Cool con una precisión de 0.52
El género musical que más aparece es Pop con una precisión de 0.39
La bebida alcohólica que más aparece es Other con una precisión de 0.21
El refresco que más aparece es Coca Cola/Pepsi con una precisión de 0.52

El valor que más se repite es Coca Cola/Pepsi para los refrescos y Cool en cuanto al color. Los dos tienen la misma precisión por lo que debemos elegir uno. Elegimos el color porque nos parece más preciso seleccionar este valor ya que Coca Cola/Pepsi es un valor algo menos concreto (en la vida real, la gente que quiere consumir Coca Cola no suele querer consumir Pepsi y cambian la bebida. Del mismo modo, entre Pepsi y Coca Cola pasa lo mismo)

Nuestra regla de momento queda del modo:
<br>
<b>Si Color = Cool y ? Entonces es Chica</b>

In [13]:
dataset = dataset[dataset['Favorite Color'] == 'Cool']
dataset = dataset.reset_index(drop=True)
dataset

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Cool,Rock,Vodka,Coca Cola/Pepsi,F
2,Cool,Pop,Beer,Coca Cola/Pepsi,F
3,Cool,Pop,Other,7UP/Sprite,F
4,Cool,Rock,Beer,Coca Cola/Pepsi,F
5,Cool,Pop,Wine,7UP/Sprite,F
6,Cool,Rock,Other,Coca Cola/Pepsi,F
7,Cool,Rock,Other,Coca Cola/Pepsi,F
8,Cool,Pop,Doesn't drink,7UP/Sprite,F
9,Cool,Pop,Beer,Fanta,F
10,Cool,Rock,Vodka,Coca Cola/Pepsi,F
11,Cool,Folk/Traditional,Whiskey,7UP/Sprite,F
12,Cool,Pop,Beer,Other,F
13,Cool,Pop,Doesn't drink,Other,F
14,Cool,Pop,Doesn't drink,Coca Cola/Pepsi,F
15,Cool,Electronic,Doesn't drink,Fanta,F
16,Cool,R&B and soul,Beer,Coca Cola/Pepsi,F

In [14]:
#Actualizamos la clase
clase = dataset.groupby("Gender").size()
clase

Gender
F    17
dtype: int64

In [15]:
generos = dataset['Favorite Music Genre'].value_counts()
bebidas = dataset['Favorite Beverage'].value_counts()
refrescos = dataset['Favorite Soft Drink'].value_counts()

In [16]:
#Precision del color
generosPrecisionStr = []
generosPrecision = []
for row in generos:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    generosPrecisionStr.append(precisionStr)
    generosPrecision.append(precision)
    
#Precision para el genero
generosDF = pd.DataFrame(generos)
generosDF.insert(1, "Precision", generosPrecisionStr, True)
generosDF.insert(2, "Valor Precision", generosPrecision, True) 
generosDF

                  Favorite Music Genre Precision  Valor Precision
Pop                                  8      8/17             0.47
Rock                                 6      6/17             0.35
Folk/Traditional                     1      1/17             0.06
R&B and soul                         1      1/17             0.06
Electronic                           1      1/17             0.06

In [17]:
#Precision del color
bebidasPrecisionStr = []
bebidasPrecision = []
for row in bebidas:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    bebidasPrecisionStr.append(precisionStr)
    bebidasPrecision.append(precision)
    
#Precision para el genero
bebidasDF = pd.DataFrame(bebidas)
bebidasDF.insert(1, "Precision", bebidasPrecisionStr, True)
bebidasDF.insert(2, "Valor Precision", bebidasPrecision, True) 
bebidasDF

               Favorite Beverage Precision  Valor Precision
Beer                           5      5/17             0.29
Doesn't drink                  4      4/17             0.24
Other                          3      3/17             0.18
Vodka                          3      3/17             0.18
Wine                           1      1/17             0.06
Whiskey                        1      1/17             0.06

In [18]:
#Precision del color
refrescosPrecisionStr = []
refrescosPrecision = []
for row in refrescos:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    refrescosPrecisionStr.append(precisionStr)
    refrescosPrecision.append(precision)
    
#Precision para el genero
refrescosDF = pd.DataFrame(refrescos)
refrescosDF.insert(1, "Precision", refrescosPrecisionStr, True)
refrescosDF.insert(2, "Valor Precision", refrescosPrecision, True) 
refrescosDF

                 Favorite Soft Drink Precision  Valor Precision
Coca Cola/Pepsi                    8      8/17             0.47
7UP/Sprite                         5      5/17             0.29
Fanta                              2      2/17             0.12
Other                              2      2/17             0.12

In [19]:
datos = [generosDF['Valor Precision'].idxmax(),
         bebidasDF['Valor Precision'].idxmax(),
         refrescosDF['Valor Precision'].idxmax()]

valores = [generosDF['Valor Precision'].max(),
           bebidasDF['Valor Precision'].max(),
           refrescosDF['Valor Precision'].max()]

print('El género musical que más aparece es\033[1m',datos[0],'\033[0mcon una precisión de\033[1m',valores[0],'\033[0m')
print('La bebida alcohólica que más aparece es\033[1m',datos[1],'\033[0mcon una precisión de\033[1m',valores[1],'\033[0m')
print('El refresco que más aparece es\033[1m',datos[2],'\033[0mcon una precisión de\033[1m',valores[2],'\033[0m')

El género musical que más aparece es Pop con una precisión de 0.47
La bebida alcohólica que más aparece es Beer con una precisión de 0.29
El refresco que más aparece es Coca Cola/Pepsi con una precisión de 0.47

Ahora no tenemos el color, ya que estamos evaluando con Color = Cool pero, de nuevo, tenemos un empate en los valores para refrescos y género musical.

De nuevo, aparece Coca Cola/Pepsi con una precisión de 0.47, al igual que Pop, con la misma precisión. Del mismo modo que antes, volvemos a elegir Pop puesto que no podemos cambiar de criterio en medio del proceso.

Nuestra regla de momento queda del modo:
<br>
<b>Si Color = Cool, Género = Pop y ? Entonces es Chica</b>

In [20]:
dataset = dataset[(dataset['Favorite Color'] == 'Cool') & (dataset['Favorite Music Genre'] == 'Pop')]
dataset = dataset.reset_index(drop=True)
dataset

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Pop,Beer,Coca Cola/Pepsi,F
1,Cool,Pop,Other,7UP/Sprite,F
2,Cool,Pop,Wine,7UP/Sprite,F
3,Cool,Pop,Doesn't drink,7UP/Sprite,F
4,Cool,Pop,Beer,Fanta,F
5,Cool,Pop,Beer,Other,F
6,Cool,Pop,Doesn't drink,Other,F
7,Cool,Pop,Doesn't drink,Coca Cola/Pepsi,F

In [21]:
#Actualizamos la clase
clase = dataset.groupby("Gender").size()
clase

Gender
F    8
dtype: int64

In [22]:
bebidas = dataset['Favorite Beverage'].value_counts()
refrescos = dataset['Favorite Soft Drink'].value_counts()

In [23]:
#Precision del color
bebidasPrecisionStr = []
bebidasPrecision = []
for row in bebidas:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    bebidasPrecisionStr.append(precisionStr)
    bebidasPrecision.append(precision)
    
#Precision para el genero
bebidasDF = pd.DataFrame(bebidas)
bebidasDF.insert(1, "Precision", bebidasPrecisionStr, True)
bebidasDF.insert(2, "Valor Precision", bebidasPrecision, True) 
bebidasDF

               Favorite Beverage Precision  Valor Precision
Doesn't drink                  3       3/8             0.38
Beer                           3       3/8             0.38
Wine                           1       1/8             0.12
Other                          1       1/8             0.12

In [24]:
#Precision del color
refrescosPrecisionStr = []
refrescosPrecision = []
for row in refrescos:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    refrescosPrecisionStr.append(precisionStr)
    refrescosPrecision.append(precision)
    
#Precision para el genero
refrescosDF = pd.DataFrame(refrescos)
refrescosDF.insert(1, "Precision", refrescosPrecisionStr, True)
refrescosDF.insert(2, "Valor Precision", refrescosPrecision, True) 
refrescosDF

                 Favorite Soft Drink Precision  Valor Precision
7UP/Sprite                         3       3/8             0.38
Coca Cola/Pepsi                    2       2/8             0.25
Other                              2       2/8             0.25
Fanta                              1       1/8             0.12

In [25]:
datos = [bebidasDF['Valor Precision'].idxmax(),
         refrescosDF['Valor Precision'].idxmax()]

valores = [bebidasDF['Valor Precision'].max(),
           refrescosDF['Valor Precision'].max()]

print('La bebida alcohólica que más aparece es\033[1m',datos[0],'\033[0mcon una precisión de\033[1m',valores[0],'\033[0m')
print('El refresco que más aparece es\033[1m',datos[1],'\033[0mcon una precisión de\033[1m',valores[1],'\033[0m')

La bebida alcohólica que más aparece es Doesn't drink con una precisión de 0.38
El refresco que más aparece es 7UP/Sprite con una precisión de 0.38

Ahora no tenemos el color ni el género musical, ya que estamos evaluando con Color = Cool & Género = Pop pero, de nuevo, tenemos un empate en los valores para refrescos y bebida alcóholica.

Ahora, en vez de aparecer Coca Cola/Pepsi, hemos obtenido 7UP/Sprite con el mismo dilema que Coca Cola/Pepsi volvemos a apostar por elegir el valor de la bébida alcohólica.

Nuestra regla de momento queda del modo:
<br>
<b>Si Color = Cool, Género = Pop y Beverage = Doesn't Drink y ? Entonces es Chica</b>

In [26]:
dataset = dataset[(dataset['Favorite Color'] == 'Cool') &
                  (dataset['Favorite Music Genre'] == 'Pop') & 
                  (dataset['Favorite Beverage'] == "Doesn't drink")]
dataset = dataset.reset_index(drop=True)
dataset

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Pop,Doesn't drink,7UP/Sprite,F
1,Cool,Pop,Doesn't drink,Other,F
2,Cool,Pop,Doesn't drink,Coca Cola/Pepsi,F

In [27]:
#Actualizamos la clase
clase = dataset.groupby("Gender").size()
clase

Gender
F    3
dtype: int64

In [28]:
refrescos = dataset['Favorite Soft Drink'].value_counts()

In [29]:
#Precision del color
refrescosPrecisionStr = []
refrescosPrecision = []
for row in refrescos:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    refrescosPrecisionStr.append(precisionStr)
    refrescosPrecision.append(precision)
    
#Precision para el genero
refrescosDF = pd.DataFrame(refrescos)
refrescosDF.insert(1, "Precision", refrescosPrecisionStr, True)
refrescosDF.insert(2, "Valor Precision", refrescosPrecision, True) 
refrescosDF

                 Favorite Soft Drink Precision  Valor Precision
Coca Cola/Pepsi                    1       1/3             0.33
7UP/Sprite                         1       1/3             0.33
Other                              1       1/3             0.33

In [30]:
datos = [refrescosDF['Valor Precision'].idxmax()]

valores = [refrescosDF['Valor Precision'].max()]

print('El refresco que más aparece es\033[1m',datos[0],'\033[0mcon una precisión de\033[1m',valores[0],'\033[0m')

El refresco que más aparece es Coca Cola/Pepsi con una precisión de 0.33

Las 3 bebidas tienen la misma precisión, por lo que este valor no influye en nuestra regla.

Ya hemos terminado de generar la regla
Nuestra regla es:
<br>
<b>Si Color = Cool, Género = Pop y Beverage = Doesn't Drink => Entonces es Chica</b>

### 2) Dibuja el modelo elegido en el punto anterior (0.5 puntos).

In [31]:
modelo =  datasetOriginal[(datasetOriginal['Favorite Color'] == 'Cool') &
                  (datasetOriginal['Favorite Music Genre'] == 'Pop') & 
                  (datasetOriginal['Favorite Beverage'] == "Doesn't drink")]
modelo

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
19,Cool,Pop,Doesn't drink,7UP/Sprite,F
27,Cool,Pop,Doesn't drink,Other,F
28,Cool,Pop,Doesn't drink,Coca Cola/Pepsi,F

### 3) Selecciona tres reglas que sean las que generalicen lo menos posible y otras tres que especialicen lo menos posible. Interprétalas. (0,5 puntos).

In [32]:
#Generalizar, de lo general a lo específico

#Si color es Warm, entonces Chico
#Si bebida es Whisky, entonces Chico
#Si género favorito Hip Hop, entonces Chico

#Especializacion, de lo específico a lo general

#Si Color = Cool, Género = Pop y Beverage = Does not Drink => Entonces es Chica
#Si genero musical = Electronic y bebida alcohólica = Whiskey => Entonces es Chico
#Si género favorito Hip Hop, entonces Chico

### 4) Usa tu clasificador para decidir qué género corresponde a las preferencias de cada uno de los miembros del equipo de prácticas (al menos estudiad 4 preferencias) (1 punto)