## Laboratorio 3 - Clasificación

## Paula Hípola Gómez, José Ignacio Navas Sanz y Belén Ortega Pérez

## Entregable 2 - Clasificador de Género

In [322]:
%config IPCompleter.greedy=True
%reset
#Importamos las librerías necesarias
#Numpy
import numpy as np 
#Pandas
import pandas as pd
#Scikit-Learn
import sklearn as sk
#Matplotlib
import matplotlib.pyplot as plt

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

## Carga y Visualización de Datos

In [323]:
#Importamos el CSV
dataset = pd.read_csv('genero.csv')
#Guardamos una copia del dataset original
datasetOriginal = dataset
#Mostramos los datos
dataset

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F
...,...,...,...,...,...
61,Cool,Rock,Vodka,Coca Cola/Pepsi,M
62,Cool,Hip hop,Beer,Coca Cola/Pepsi,M
63,Neutral,Hip hop,Doesn't drink,Fanta,M
64,Cool,Rock,Wine,Coca Cola/Pepsi,M
65,Cool,Electronic,Beer,Coca Cola/Pepsi,M

In [324]:
dataset.describe()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
count,66,66,66,66,66
unique,3,7,6,4,2
top,Cool,Rock,Doesn't drink,Coca Cola/Pepsi,M
freq,37,19,14,32,33

<b>Vamos a realizar un clasificador basado en reglas. En nuestro caso elegimos el algoritmo PRISM</b>

### 1) Crea un clasificador en el que uses al menos dos criterios de división distintos. Calcula el error de cada uno de ellos y elige el que mejor clasifique (1 punto).

In [325]:
clase = dataset.groupby("Gender").size()
pd.DataFrame(clase)

         0
Gender
F       33
M       33

Tenemos que seleccionar una clase sobre la que fijar nuestras reglas, por lo que vamos a elegir Female.

In [326]:
dataset = dataset[dataset.Gender != 'M']

In [327]:
#Precision para el color
color = dataset.groupby(["Gender","Favorite Color"]).size()
colores = pd.DataFrame(color)
colores

                        0
Gender Favorite Color
F      Cool            17
       Neutral          3
       Warm            13

In [328]:
#Precision del color
colorPrecisionStr = []
colorPrecision = []
for row in color:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    colorPrecisionStr.append(precisionStr)
    colorPrecision.append(precision)

In [329]:
colores['Precision'] = colorPrecisionStr
colores['Prec. Real'] = colorPrecision
colores

                        0 Precision  Prec. Real
Gender Favorite Color
F      Cool            17     17/33        0.52
       Neutral          3      3/33        0.09
       Warm            13     13/33        0.39

In [330]:
#Precision para el genero musical
musicGenre = dataset.groupby(["Gender","Favorite Music Genre"]).size()
generos = pd.DataFrame(musicGenre)

In [331]:
#Precision del color
musicGenrePrecisionStr = []
musicGenrePrecision = []
for row in musicGenre:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    musicGenrePrecisionStr.append(precisionStr)
    musicGenrePrecision.append(precision)

In [332]:
generos['Precision'] = musicGenrePrecisionStr
generos['Prec. Real'] = musicGenrePrecision
generos

                              0 Precision  Prec. Real
Gender Favorite Music Genre
F      Electronic             2      2/33        0.06
       Folk/Traditional       2      2/33        0.06
       Hip hop                1      1/33        0.03
       Jazz/Blues             3      3/33        0.09
       Pop                   13     13/33        0.39
       R&B and soul           2      2/33        0.06
       Rock                  10     10/33        0.30

In [333]:
#Precision para el tipo de bebida
beverage = dataset.groupby(["Gender","Favorite Beverage"]).size()
beverages = pd.DataFrame(beverage)

In [334]:
#Precision del color
beveragePrecisionStr = []
beveragePrecision = []
for row in beverage:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    beveragePrecisionStr.append(precisionStr)
    beveragePrecision.append(precision)

In [335]:
beverages['Precision'] = beveragePrecisionStr
beverages['Prec. Real'] = beveragePrecision
beverages

                          0 Precision  Prec. Real
Gender Favorite Beverage
F      Beer               6      6/33        0.18
       Doesn't drink      5      5/33        0.15
       Other              7      7/33        0.21
       Vodka              4      4/33        0.12
       Whiskey            5      5/33        0.15
       Wine               6      6/33        0.18

In [336]:
#Precision para el tipo de refresco
softDrink = dataset.groupby(["Gender","Favorite Soft Drink"]).size()
softDrinks = pd.DataFrame(softDrink)

In [337]:
#Precision del color
softDrinkPrecisionStr = []
softDrinkPrecision = []
for row in softDrink:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    softDrinkPrecisionStr.append(precisionStr)
    softDrinkPrecision.append(precision)

In [338]:
softDrinks['Precision'] = softDrinkPrecisionStr
softDrinks['Prec. Real'] = softDrinkPrecision
softDrinks

                             0 Precision  Prec. Real
Gender Favorite Soft Drink
F      7UP/Sprite            8      8/33        0.24
       Coca Cola/Pepsi      17     17/33        0.52
       Fanta                 6      6/33        0.18
       Other                 2      2/33        0.06

In [339]:
valoresCandidatos = []
print(colores[colores["Prec. Real"] == colores["Prec. Real"].max()])
print(generos[generos["Prec. Real"] == generos["Prec. Real"].max()])
print(beverages[beverages["Prec. Real"] == beverages["Prec. Real"].max()])
print(softDrinks[softDrinks["Prec. Real"] == softDrinks["Prec. Real"].max()])

                        0 Precision  Prec. Real
Gender Favorite Color
F      Cool            17     17/33        0.52
                              0 Precision  Prec. Real
Gender Favorite Music Genre
F      Pop                   13     13/33        0.39
                          0 Precision  Prec. Real
Gender Favorite Beverage
F      Other              7      7/33        0.21
                             0 Precision  Prec. Real
Gender Favorite Soft Drink
F      Coca Cola/Pepsi      17     17/33        0.52

El valor que más se repite es Coca Cola/Pepsi para los refrescos o Cool para el color por lo que debemos elegir uno. Como es más preciso el color que el refresco, escogemos Cool para seguir evaluando.

In [340]:
dataset = dataset[dataset['Favorite Color'] == 'Cool']
dataset = dataset.reset_index(drop=True)
dataset

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Cool,Rock,Vodka,Coca Cola/Pepsi,F
2,Cool,Pop,Beer,Coca Cola/Pepsi,F
3,Cool,Pop,Other,7UP/Sprite,F
4,Cool,Rock,Beer,Coca Cola/Pepsi,F
5,Cool,Pop,Wine,7UP/Sprite,F
6,Cool,Rock,Other,Coca Cola/Pepsi,F
7,Cool,Rock,Other,Coca Cola/Pepsi,F
8,Cool,Pop,Doesn't drink,7UP/Sprite,F
9,Cool,Pop,Beer,Fanta,F
10,Cool,Rock,Vodka,Coca Cola/Pepsi,F
11,Cool,Folk/Traditional,Whiskey,7UP/Sprite,F
12,Cool,Pop,Beer,Other,F
13,Cool,Pop,Doesn't drink,Other,F
14,Cool,Pop,Doesn't drink,Coca Cola/Pepsi,F
15,Cool,Electronic,Doesn't drink,Fanta,F
16,Cool,R&B and soul,Beer,Coca Cola/Pepsi,F

In [359]:
generos = dataset['Favorite Music Genre'].value_counts()
bebidas = dataset['Favorite Beverage'].value_counts()
refrescos = dataset['Favorite Soft Drink'].value_counts()

In [360]:
generos

Pop                 8
Rock                6
R&B and soul        1
Folk/Traditional    1
Electronic          1
Name: Favorite Music Genre, dtype: int64

In [361]:
bebidas

Beer             5
Doesn't drink    4
Other            3
Vodka            3
Whiskey          1
Wine             1
Name: Favorite Beverage, dtype: int64

In [362]:
refrescos

Coca Cola/Pepsi    8
7UP/Sprite         5
Fanta              2
Other              2
Name: Favorite Soft Drink, dtype: int64

In [363]:
for x in dataset['Favorite Music Genre'].value_counts():
    print(x,'/',16)

8 / 16
6 / 16
1 / 16
1 / 16
1 / 16

### 2) Dibuja el modelo elegido en el punto anterior (0.5 puntos).

### 3) Selecciona tres reglas que sean las que generalicen lo menos posible y otras tres que especialicen lo menos posible. Interprétalas. (0,5 puntos).

### 4) Usa tu clasificador para decidir qué género corresponde a las preferencias de cada uno de los miembros del equipo de prácticas (al menos estudiad 4 preferencias) (1 punto)