## Laboratorio 3 - Clasificación

## Paula Hípola Gómez, José Ignacio Navas Sanz y Belén Ortega Pérez

## Entregable 2 - Clasificador de Género

In [1]:
%config IPCompleter.greedy=True
%reset
#Importamos las librerías necesarias
#Numpy
import numpy as np 
#Pandas
import pandas as pd
#Scikit-Learn
import sklearn as sk
#Matplotlib
import matplotlib.pyplot as plt

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

## Carga y Visualización de Datos

In [2]:
#Importamos el CSV
dataset = pd.read_csv('genero.csv')
#Mostramos los datos
dataset

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F
...,...,...,...,...,...
61,Cool,Rock,Vodka,Coca Cola/Pepsi,M
62,Cool,Hip hop,Beer,Coca Cola/Pepsi,M
63,Neutral,Hip hop,Doesn't drink,Fanta,M
64,Cool,Rock,Wine,Coca Cola/Pepsi,M
65,Cool,Electronic,Beer,Coca Cola/Pepsi,M

In [3]:
dataset.describe()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
count,66,66,66,66,66
unique,3,7,6,4,2
top,Cool,Rock,Doesn't drink,Coca Cola/Pepsi,M
freq,37,19,14,32,33

<b>Vamos a realizar un clasificador basado en reglas. En nuestro caso elegimos el algoritmo PRISM</b>

### 1) Crea un clasificador en el que uses al menos dos criterios de división distintos. Calcula el error de cada uno de ellos y elige el que mejor clasifique (1 punto).

In [4]:
clase = dataset.groupby(["Gender"]).size()
pd.DataFrame(clase)

         0
Gender
F       33
M       33

In [5]:
#Precision para el color
color = dataset.groupby(["Gender","Favorite Color"]).size()
colores = pd.DataFrame(color)

In [6]:
#Precision del color
colorPrecisionStr = []
colorPrecision = []
for row in color:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    colorPrecisionStr.append(precisionStr)
    colorPrecision.append(precision)

In [7]:
colores['Precision'] = colorPrecisionStr
colores['Prec. Real'] = colorPrecision
colores

                        0 Precision  Prec. Real
Gender Favorite Color
F      Cool            17     17/33        0.52
       Neutral          3      3/33        0.09
       Warm            13     13/33        0.39
M      Cool            20     20/33        0.61
       Neutral          4      4/33        0.12
       Warm             9      9/33        0.27

In [8]:
#Precision para el genero musical
musicGenre = dataset.groupby(["Gender","Favorite Music Genre"]).size()
generos = pd.DataFrame(musicGenre)

In [9]:
#Precision del color
musicGenrePrecisionStr = []
musicGenrePrecision = []
for row in musicGenre:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    musicGenrePrecisionStr.append(precisionStr)
    musicGenrePrecision.append(precision)

In [10]:
generos['Precision'] = musicGenrePrecisionStr
generos['Prec. Real'] = musicGenrePrecision
generos

                              0 Precision  Prec. Real
Gender Favorite Music Genre
F      Electronic             2      2/33        0.06
       Folk/Traditional       2      2/33        0.06
       Hip hop                1      1/33        0.03
       Jazz/Blues             3      3/33        0.09
       Pop                   13     13/33        0.39
       R&B and soul           2      2/33        0.06
       Rock                  10     10/33        0.30
M      Electronic             6      6/33        0.18
       Folk/Traditional       2      2/33        0.06
       Hip hop                7      7/33        0.21
       Jazz/Blues             1      1/33        0.03
       Pop                    4      4/33        0.12
       R&B and soul           4      4/33        0.12
       Rock                   9      9/33        0.27

In [11]:
#Precision para el tipo de bebida
beverage = dataset.groupby(["Gender","Favorite Beverage"]).size()
beverages = pd.DataFrame(beverage)

In [12]:
#Precision del color
beveragePrecisionStr = []
beveragePrecision = []
for row in beverage:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    beveragePrecisionStr.append(precisionStr)
    beveragePrecision.append(precision)

In [13]:
beverages['Precision'] = beveragePrecisionStr
beverages['Prec. Real'] = beveragePrecision
beverages

                          0 Precision  Prec. Real
Gender Favorite Beverage
F      Beer               6      6/33        0.18
       Doesn't drink      5      5/33        0.15
       Other              7      7/33        0.21
       Vodka              4      4/33        0.12
       Whiskey            5      5/33        0.15
       Wine               6      6/33        0.18
M      Beer               7      7/33        0.21
       Doesn't drink      9      9/33        0.27
       Other              4      4/33        0.12
       Vodka              5      5/33        0.15
       Whiskey            4      4/33        0.12
       Wine               4      4/33        0.12

In [14]:
#Precision para el tipo de refresco
softDrink = dataset.groupby(["Gender","Favorite Soft Drink"]).size()
softDrinks = pd.DataFrame(softDrink)

In [15]:
#Precision del color
softDrinkPrecisionStr = []
softDrinkPrecision = []
for row in softDrink:
    precisionStr = str(row)+'/'+str(clase[0])
    precision = round((row/clase[0]),2)
    softDrinkPrecisionStr.append(precisionStr)
    softDrinkPrecision.append(precision)

In [16]:
softDrinks['Precision'] = softDrinkPrecisionStr
softDrinks['Prec. Real'] = softDrinkPrecision
softDrinks

                             0 Precision  Prec. Real
Gender Favorite Soft Drink
F      7UP/Sprite            8      8/33        0.24
       Coca Cola/Pepsi      17     17/33        0.52
       Fanta                 6      6/33        0.18
       Other                 2      2/33        0.06
M      7UP/Sprite            5      5/33        0.15
       Coca Cola/Pepsi      15     15/33        0.45
       Fanta                 8      8/33        0.24
       Other                 5      5/33        0.15

### 2) Dibuja el modelo elegido en el punto anterior (0.5 puntos).

### 3) Selecciona tres reglas que sean las que generalicen lo menos posible y otras tres que especialicen lo menos posible. Interprétalas. (0,5 puntos).

### 4) Usa tu clasificador para decidir qué género corresponde a las preferencias de cada uno de los miembros del equipo de prácticas (al menos estudiad 4 preferencias) (1 punto)